<div id="wrapper">
  <div id="contents">
  <h1>Send with the following contents.</h1>
<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <p class="showp">Content:<%= @feed.content %></p>
  <%= form.submit "Post" %>
<% end %>

<%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= form.submit "Back", name: "back" %>
<% end %>
</div>
</div>
